html,
body {
  height: 100%;
  margin: 0;
}

/* viles us css dok: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.app-container {
  display: flex;
  flex-flow: column wrap; /* ersetz zusammen flex-direction: row UND flex-wrap: wrap */
  justify-content: space-around;
  min-height: 100vh; /* full page vh=viewport height vw=viewport width*/
  min-width: 100vw;
}
.main-container {
  display: flex;
  flex: 1;
}
header {
  background: #fde70e;
  padding: 10px;
  width: 100%;
}
main {
  flex: 1;
  background: white;
  padding: 10px;
  min-width: 400px;
}
aside {
  width: 300px;
  background: rgb(230, 230, 230);
  padding: 10px;
}
footer {
  background: #fde70e;
  padding: 10px;
  width: 100%;
}

.vega-embed {
  width: 100%; /* zur darstellung der Vega grafik, */
  height: 100%; /* !important von ";" um alles was (allenfalls) vorherdefiniert wurde zu überschreiben*/
}
