html,
body {
  height: 100%;
  margin: 0;
}

/* viles us css dok: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.app-container {
  display: flex;
  flex-flow: row wrap; /* ersetz zusammen flex-direction: row UND flex-wrap: wrap */
  height: 100vh; /* full page vh=viewport height vw=viewport width*/
  width: 100%;
}
.main-container {
  display: flex;
  flex: 1;
  min-width: 0; /* verhindert Layout-Überlauf */
  min-height: 0;
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: #fde70e;
  padding: 20px;
  width: 100%;
}
main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background: white;
  padding: 10px;
  min-width: 0; /* verhindert Layout-Überlauf */
}
aside {
  width: 300px;
  background: rgb(230, 230, 230);
  padding: 10px;
}
footer {
  background: #fde70e;
  padding: 10px;
  width: 100%;
}

.vega-embed {
  flex: 1;
  width: 90%; /* zur darstellung der Vega grafik, */
  height: 90%;
  min-height: 0;
}
